.getTokenContainer {
  padding-top: 106px;
}
.getTokenContainerMob {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.getTokenContent {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Sora";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.getTokenContentMob {
  font-size: 20px;
}
.ethAddress {
  padding-bottom: 4px;
  padding-left: 16px;
  color: var(--White, #fff);
  text-align: left;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.walletAddressDetails {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 94px;
}
.walletAddressDetailsMob {
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 80px;
}
.walletAddressKeyAndValue {
  display: flex;
  flex-direction: column;
}
.walletAddressContainer {
  border-radius: 12px;
  width: 462px;
  background: var(--Gray-22, #191d24);
  padding: 20px 20px 20px 16px;
  color: var(--Gray-13, #637592);
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-right: 36px;
}
.walletAddressContainerMob {
  width: auto;
  margin-right: 0;
}
.dripButton {
  display: flex;
  margin-top: 27px;
  justify-content: center;
  border-radius: 12px;
  background: #3d6eff;
  padding: 25px 34px 16px 50px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.dripButtonContent {
  color: var(--White, #fff);
  font-family: "Sora";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
}
.dripButton:hover {
  box-shadow: 0 0 10px 0 #3d6eff;
}
.walletAddressInput {
  font-family: "sora";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  width: 100%;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
input:focus {
  outline: none;
}
.input::placeholder {
  font-family: "Metrophobic";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112.4%;
  color: rgba(153, 178, 198, 1);
}
